@import 'src/style/_variables.scss';
.container {
  .title {
    text-align: center;
    background-color: $gray;
    height: 40px;
    line-height: 40px;
  }
  .studentList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: solid 1px $gray;
    height: 80px;
    align-items: center;
    .student {
      width: 11%;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: 5px;
    }
  }
}